@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #818181; }

ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

.section-outer {
  padding-right: 20px;
  padding-left: 20px; }

.section-inner {
  max-width: 1180px;
  margin: 0 auto; }

.section-start {
  padding-top: 20px;
  padding-bottom: 240px;
  background: url(../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; }
  .section-start__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 268px; }
    .section-start__header-nav ul {
      display: flex; }
      .section-start__header-nav ul li {
        margin-left: 26px;
        list-style: none; }
        .section-start__header-nav ul li a {
          list-style: none;
          text-decoration: none;
          color: #ffffff; }
  .section-start__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-start__wrapper-subtitle {
      font-family: "Times New Roman", Times, serif;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 0.2px;
      font-style: italic;
      color: #ffffff;
      opacity: 0.7; }
    .section-start__wrapper-title {
      margin-bottom: 22px;
      font-size: 100px;
      color: #ffffff;
      letter-spacing: 4.5px; }
    .section-start__wrapper-btn {
      display: inline-block;
      margin-bottom: 40px;
      padding: 20px 72px;
      border: 3px solid #ffffff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.17em;
      text-decoration: none;
      color: #ffffff; }
    .section-start__wrapper-text {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.6px;
      color: #ffffff; }
      .section-start__wrapper-text a {
        color: #ffffff; }

.section-about {
  padding-top: 102px;
  padding-bottom: 93px; }
  .section-about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-about__inner-item {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-about__inner-item__wrapper {
        position: relative;
        display: inline-block;
        margin-bottom: 16px;
        border: 2px solid #000000;
        border-radius: 50%;
        width: 107px;
        height: 107px; }
        .section-about__inner-item__wrapper img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .section-about__inner-item__title {
        margin-bottom: 7px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #000000; }
      .section-about__inner-item .underline {
        margin-bottom: 12px; }
      .section-about__inner-item__text {
        font-size: 16px;
        line-height: 1.65em;
        font-weight: 400;
        letter-spacing: 0.6px;
        text-align: center; }

.section-app {
  padding-top: 106px;
  background-color: #f7f7f7; }
  .section-app-wrapper {
    display: flex;
    justify-content: space-between; }
    .section-app-wrapper__img {
      position: relative;
      left: -25px;
      margin-right: 90px; }
    .section-app-wrapper__inner-title {
      position: relative;
      margin-bottom: 20px;
      padding-top: 77px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #000000; }
      .section-app-wrapper__inner-title::after {
        content: "";
        position: absolute;
        background: url(../assets/img/underline.png);
        left: 0;
        bottom: -7px;
        width: 88px;
        height: 1px; }
    .section-app-wrapper__inner-text {
      margin-bottom: 29px;
      font-size: 16px;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: 0.7px; }
    .section-app-wrapper__inner-footer a {
      margin-right: 7px;
      text-decoration: none; }
      .section-app-wrapper__inner-footer a img {
        border-radius: 5px; }

.section-reviews {
  padding-top: 80px;
  padding-bottom: 128px;
  background: url(../assets/img/review-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .section-reviews__img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px; }
  .section-reviews__comment {
    margin: 0px auto 16px;
    width: 80%;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.5em;
    letter-spacing: 0.15px;
    text-align: center;
    color: #ffffff; }
    .section-reviews__comment::before {
      content: '“';
      position: relative;
      right: -5px; }
    .section-reviews__comment::after {
      content: '”';
      position: relative;
      left: -5px; }
  .section-reviews__name {
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    color: #ffffff; }
    .section-reviews__name::before {
      content: '-';
      position: relative; }
    .section-reviews__name::after {
      content: '-';
      position: relative; }

.section-menu {
  padding-top: 98px; }
  .section-menu-inner__title {
    margin-bottom: 29px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    color: #000000; }
  .section-menu-inner__img {
    position: relative;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%); }

.out-menu__wrapper {
  display: flex;
  flex-wrap: wrap; }
  .out-menu__wrapper-item {
    width: 20%;
    text-decoration: none; }
    .out-menu__wrapper-item__subtitle {
      font-family: "Times New Roman", Times, serif;
      margin-bottom: 3px;
      padding-top: 73px;
      font-size: 15.37px;
      letter-spacing: 1px;
      text-align: center;
      font-style: italic;
      color: #ffffff;
      opacity: 0.9; }
    .out-menu__wrapper-item__title {
      padding-bottom: 90px;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.4px;
      text-align: center;
      color: #ffffff; }
  .out-menu__wrapper .italian-menu-bg {
    background: url(../assets/img/menu-italian.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .indian-menu-bg {
    background: url(../assets/img/menu-indian.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .french-menu-bg {
    background: url(../assets/img/menu-french.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .steakhouse-menu-bg {
    background: url(../assets/img/menu-steakhouse.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .seafood-menu-bg {
    background: url(../assets/img/menu-seafood.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .sushi-menu-bg {
    background: url(../assets/img/menu-sushi.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .mexican-menu-bg {
    background: url(../assets/img/menu-mexican.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .chinese-menu-bg {
    background: url(../assets/img/menu-chinese.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .pizza-menu-bg {
    background: url(../assets/img/menu-pizza.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .out-menu__wrapper .american-menu-bg {
    background: url(../assets/img/menu-american.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
