//=== Mixin ===
@mixin font-main {
    font-family: 'Lato', sans-serif;
}

@mixin font-secondary {
    font-family: "Times New Roman", Times, serif;
}

@mixin bg-position {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
//=== / Mixin ===

//=== Variables ===
$color-title: #000000;
$color-text: #818181;
$color-white: #ffffff;
//=== / Variables ===

//=== Common ===
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @include font-main;

    color: $color-text;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}
//=== / Common ===

//=== header ===
.section-start {
    padding-top: 20px;
    padding-bottom: 240px;
    background: url(../assets/img/header-bg.jpg);
    @include bg-position;
    height: 100vh;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 268px;
        
        &-nav {
            ul {
                display: flex;

                li {
                    margin-left: 26px;
                    list-style: none;

                    a {
                        list-style: none;
                        text-decoration: none;
                        color: $color-white;
                    }
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-subtitle {
            @include font-secondary;

            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.2px;
            font-style: italic;
            color: $color-white;
            opacity: 0.7;
        }
        &-title {
            margin-bottom: 22px;
            font-size: 100px;
            color: $color-white;
            letter-spacing: 4.5px;
        }
        &-btn {
            display: inline-block;
            margin-bottom: 40px;
            padding: 20px 72px;
            border: 3px solid $color-white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.17em;
            text-decoration: none;
            color: $color-white;
        }
        &-text {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.6px;
            color: $color-white;

            a {
                color: $color-white;
            }
        }
    }
}
//=== / header ===

//=== about ===
.section-about {
    padding-top: 102px;
    padding-bottom: 93px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__wrapper {
                position: relative;
                display: inline-block;
                margin-bottom: 16px;
                border: 2px solid #000000;
                border-radius: 50%;
                width: 107px;
                height: 107px;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &__title {
                margin-bottom: 7px;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1px;
                color: $color-title;
            }
            .underline {
                margin-bottom: 12px;
            }
            &__text {
                font-size: 16px;
                line-height: 1.65em;
                font-weight: 400;
                letter-spacing: 0.6px;
                text-align: center;
            }
        }
    }
}
//=== / about ===

//=== app ===
.section-app {
    padding-top: 106px;
    background-color: #f7f7f7;

    &-wrapper {
        display: flex;
        justify-content: space-between;

        &__img {
            position: relative;
            left: -25px;
            margin-right: 90px;
        }
        &__inner {
            &-title {
                position: relative;
                margin-bottom: 20px;
                padding-top: 77px;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1px;
                color: $color-title;

                &::after {
                    content: "";
                    position: absolute;
                    background: url(../assets/img/underline.png);
                    left: 0;
                    bottom: -7px;
                    width: 88px;
                    height: 1px;
                }
            }
            &-text {
                margin-bottom: 29px;
                font-size: 16px;
                line-height: 25px;
                font-weight: 300;
                letter-spacing: 0.7px;
            }
            &-footer {
                a {
                    margin-right: 7px;
                    text-decoration: none;
                    img {
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
//=== / app ===

//=== reviews ===
.section-reviews {
    padding-top: 80px;
    padding-bottom: 128px;
    background: url(../assets/img/review-bg.jpg);
    @include bg-position;

    &__img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }
    &__comment {
        margin: 0px auto 16px;
        width: 80%;
        font-size: 30px;
        font-weight: 100;
        line-height: 1.5em;
        letter-spacing: 0.15px;
        text-align: center;
        color: $color-white;

        &::before {
            content: '“';
            position: relative;
            right: -5px;
        }
        &::after {
            content: '”';
            position: relative;
            left: -5px;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 100;
        font-style: italic;
        text-align: center;
        color: $color-white;

        &::before {
            content: '-';
            position: relative;
        }
        &::after {
            content: '-';
            position: relative;
        }
    }
}
//=== / reviews ===

//=== menu ===
.section-menu {
    padding-top: 98px;

    &-inner__title {
        margin-bottom: 29px;
        font-size: 18px;
        letter-spacing: 1px;
        text-align: center;
        color: $color-title;
    }
    &-inner__img {
        position: relative;
        bottom: 37px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.out-menu__wrapper {
    display: flex;
    flex-wrap: wrap;
    
    &-item {
        width: 20%;
        text-decoration: none;

        &__subtitle {
            @include font-secondary;

            margin-bottom: 3px;
            padding-top: 73px;
            font-size: 15.37px;
            letter-spacing: 1px;
            text-align: center;
            font-style: italic;
            color: $color-white;
            opacity: 0.9;
        }
        &__title {
            padding-bottom: 90px;
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 1.4px;
            text-align: center;
            color: $color-white;
        }
    }
    .italian-menu-bg {
        background: url(../assets/img/menu-italian.jpg);
        @include bg-position;
    }
    .indian-menu-bg {
        background: url(../assets/img/menu-indian.jpg);
        @include bg-position;
    }
    .french-menu-bg {
        background: url(../assets/img/menu-french.jpg);
        @include bg-position;
    }
    .steakhouse-menu-bg {
        background: url(../assets/img/menu-steakhouse.jpg);
        @include bg-position;
    }
    .seafood-menu-bg {
        background: url(../assets/img/menu-seafood.jpg);
        @include bg-position;
    }
    .sushi-menu-bg {
        background: url(../assets/img/menu-sushi.jpg);
        @include bg-position;
    }
    .mexican-menu-bg {
        background: url(../assets/img/menu-mexican.jpg);
        @include bg-position;
    }
    .chinese-menu-bg {
        background: url(../assets/img/menu-chinese.jpg);
        @include bg-position;
    }
    .pizza-menu-bg {
        background: url(../assets/img/menu-pizza.jpg);
        @include bg-position;
    }
    .american-menu-bg {
        background: url(../assets/img/menu-american.jpg);
        @include bg-position;
    }
}
//=== / menu ===

//=== stats ===
.section-stats {
    padding-top: 54px;
    padding-bottom: 58px;

    &-wrapper {
        display: flex;
        justify-content: space-between;

        &-item {
            &__number {
                margin-bottom: 7px;
                font-size: 36px;
                font-weight: 700;
                letter-spacing: 2px;
                color: $color-title;
                text-align: center;
            }
            &__description {
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.5px;
                text-align: center;
            }
        }
    }
}
//=== / stats ===

//=== footer ===
.section-footer {
    padding: 38px 0;
    border-top: 1px solid #e2e2e2;
    background-color: #f7f7f7;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;

        &__copy {
            font-size: 14px;
            font-weight: 300;
            color: #8b8b8b;
            opacity: .5;
        }
        &__designed-by {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2.7px;
            color: #8b8b8b;

            a {
                font-weight: 400;
                color: $color-title;
                letter-spacing: 2.7px;
                text-decoration: none;
            }
        }
    }
}
//=== / footer ===