//=== Mixin ===
@mixin font-main {
    font-family: 'Lato', sans-serif;
}

@mixin font-secondary {
    font-family: "Times New Roman", Times, serif;
}
//=== / Mixin ===

//=== Variables ===
$color-title: #000000;
$color-text: #818181;
$color-white: #ffffff;
//=== / Variables ===

//=== Common ===
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    @include font-main;

    color: $color-text;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}
//=== / Common ===

//=== header ===
.section-start {
    padding-top: 20px;
    padding-bottom: 240px;
    background: url(../assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 268px;
        
        &-nav {
            ul {
                display: flex;

                li {
                    margin-left: 26px;
                    list-style: none;

                    a {
                        list-style: none;
                        text-decoration: none;
                        color: $color-white;
                    }
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-subtitle {
            @include font-secondary;

            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.2px;
            font-style: italic;
            color: $color-white;
            opacity: 0.7;
        }
        &-title {
            margin-bottom: 22px;
            font-size: 100px;
            color: $color-white;
            letter-spacing: 4.5px;
        }
        &-btn {
            display: inline-block;
            margin-bottom: 40px;
            padding: 20px 72px;
            border: 3px solid $color-white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.17em;
            text-decoration: none;
            color: $color-white;
        }
        &-text {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.6px;
            color: $color-white;

            a {
                color: $color-white;
            }
        }
    }
}
//=== / header ===

//=== about ===
.section-about {
    padding-top: 102px;
    padding-bottom: 93px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__wrapper {
                position: relative;
                display: inline-block;
                margin-bottom: 16px;
                border: 2px solid #000000;
                border-radius: 50%;
                width: 107px;
                height: 107px;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &__title {
                margin-bottom: 7px;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1px;
                color: $color-title;
            }
            .underline {
                margin-bottom: 12px;
            }
            &__text {
                font-size: 16px;
                line-height: 1.65em;
                font-weight: 400;
                letter-spacing: 0.6px;
                text-align: center;
            }
        }
    }
}
//=== / about ===

//=== app ===
//=== / app ===

//=== reviews ===
//=== / reviews ===

//=== menu ===
//=== / menu ===

//=== stats ===
//=== / stats ===

//=== footer ===
//=== / footer ===